.form {
  width: 100%;
  padding: 16px;
  &_container {
    max-height: 80vh;
    overflow: auto;
  }
  &_items {
    display: flex;
    align-items: center;
  }
  &_select {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  &_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 50%;
  }
  &_label {
    width: 145px;
    font-size: 16px;
    &_payment {
      padding-top: 10px;
      padding-right: 10px;
      align-self: flex-start;
    }
  }
  &_textfield input {
    padding: 8px 16px !important;
    height: 35px !important;
    border-radius: 5px;
    width: 500px;
  }
  &_phone input {
    padding: 8px 16px !important;
    height: 35px !important;
    border-radius: 5px !important;
    border: 1px solid rgb(196, 196, 196) !important;
  }
  &_btn {
    background-color: #1976d2;
    padding: 8px 20px !important;
    font-size: 16px !important;
  }
  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
  }
  &_commission input {
    padding: 8px 0 8px 16px !important;
    height: 35px !important;
    border-radius: 5px;
  }
}
